@use "../global" as *;

.access {
padding-block: rem(16) rem(24);
@media (max-width: 767px) {
  background: #fff8fc;
}
@include mq('md') {
padding-block: rem(42) rem(50);
}
}

.access__inner {
margin-inline: auto;
max-width: 500px;
padding-inline: var(--padding-inline);
@include mq('md') {
max-width: calc(rem(1144) + var(--padding-inline) * 2);
}
}

.access__content {
  @include mq("md") {
    background: #fff8fc;
    border-radius: 70px;
    padding: rem(58) clamp(50px, calc(50px + 60 * var(--fluid-basis)), 110px) rem(67) clamp(50px, calc(50px + 60 * var(--fluid-basis)), 110px);
  }
}

.access__map-wrap {
  margin-top: rem(22);
  border-radius: 16px;
  overflow: hidden;
  background: #d9d9d9;
  aspect-ratio: 358 / 256;
  @include mq("md") {
    margin-top: rem(48);
    aspect-ratio: 921 / 464;
  }
  iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.access__info {
  margin-top: rem(10);
  padding-inline: rem(8);
  display: flex;
  flex-direction: column;
  gap: 0;
  @include mq("md") {
    flex-direction: row;
    margin-top: rem(13);
    gap: rem(21);
    padding-inline: 0;
  }
}

.access__info-item {
  font-size: rem(14);
  font-weight: var(--font-weight-regular);
  line-height: 1.43;
  text-align: center;
  @include mq("md") {
    font-size: rem(16);
    line-height: 1.5;
  }
}
