@use "../global" as *;

.news-single {
  padding-block: rem(106) rem(50);
  overflow: clip;
position: relative;
  @include mq('md') {
    padding-block: rem(200) rem(91);
  }
}

.news-single__inner {
  margin-inline: auto;
  max-width: 500px;
  padding-inline: var(--padding-inline);
  @include mq('md') {
    max-width: calc(rem(840) + var(--padding-inline) * 2);
  }
}


.news-single__title {
font-size: rem(18);
font-weight: var(--font-weight-medium);
line-height: 1.666;
margin-top: rem(62);
  @include mq('md') {
    font-size: rem(22);
    line-height: 1.3;
    margin-top: rem(65);
  }
}

.news-single__date {
  font-size: rem(15);
  font-weight: var(--font-weight-medium);
  line-height: 1.6;
  margin-top: rem(19);
  display: inline-block;
  @include mq('md') {
  margin-top: rem(22);
  }
}

.news-single__content {
  margin-top: rem(19);
  @include mq('md') {
    margin-top: rem(51);
  }
  h2 {
    margin-top: rem(15);
    font-weight: var(--font-weight-regular);
    font-size: rem(20);
  }
  
  h3 {
    margin-top: rem(15);
    font-weight: var(--font-weight-regular);
      font-size: rem(18);
  }
  
  h4 {
    margin-top: rem(15);
    font-weight: var(--font-weight-regular);
    font-size: rem(16);
  }
  
  h5 {
    margin-top: rem(15);
    font-weight: var(--font-weight-regular);
    font-size: rem(14);
  }
  
  p {
    font-size: rem(15);
    font-weight: var(--font-weight-regular);
    line-height: 2.33333;
    margin-top: rem(15);
  }
  
  a {
    font-size: rem(15);
    font-weight: var(--font-weight-regular);
    color: #0000ee;
    text-decoration: underline currentColor;
    transition: opacity .3s ease;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  ul {
    margin-top: rem(15);
  }
  
  ul li {
    padding-left: rem(20);
    font-size: rem(15);
    line-height: 1.5;
    text-indent: rem(-18);
    font-weight: var(--font-weight-regular);
  }
  
  ul li:not(:first-of-type),
  ol li:not(:first-of-type) {
    margin-top: rem(10);
  }
  
  ul li::before {
    content: "";
    margin-right: rem(3);
    position: relative;
    top: rem(-2.5);
    width: rem(7);
    height: rem(7);
    display: inline-block;
    border-radius: 50%;
    background-color: currentColor;
    margin-right: rem(7);
  }
  
  ol {
    margin-top: rem(15);
    counter-reset: number;
  }
  
  ol li {
    padding-left: rem(28);
    font-size: rem(15);
    line-height: 1.5;
    text-indent: rem(-12);
    font-weight: var(--font-weight-regular);
  }
  
  ol li::before {
    counter-increment: number;
    content: counter(number)".";
    display: inline-block;
    line-height: 1;
    color: currentColor;
    margin-right: rem(2);
  }
  
  figure {
    margin-top: rem(20);
  
    @include mq(md) {
      margin-top: rem(30);
    }
  }
}

.news-single__post-navigation {
  margin-top: rem(51);
  @include mq('md') {
    margin-top: rem(92);
  }
}

.news-single__btn-wrap {
  margin-top: rem(57);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: rem(46);
  align-items: center;
  @include mq('md') {
    margin-top: rem(89);
  }
}