@use "../global" as *;

.not-found {
  padding-block: rem(156) rem(50);
  overflow: clip;
position: relative;
  @include mq('md') {
    padding-block: rem(200) rem(91);
  }
}

.not-found__inner {
  margin-inline: auto;
  max-width: 500px;
  padding-inline: var(--padding-inline);
  @include mq('md') {
    max-width: calc(rem(840) + var(--padding-inline) * 2);
  }
}


.not-found__title {
  text-align: center;
  font-size: rem(18);
  font-weight: var(--font-weight-medium);
  margin-top: rem(62);

  @include mq('md') {
    font-size: rem(24);
    line-height: 1.3;
    margin-top: rem(85);
  }
}

.not-found__text {
  margin-top: rem(20);
  line-height: 1.8;
  font-size: rem(16);

  @media (max-width: 767px) {
    width: fit-content;
    margin-inline: auto;
  }

  @include mq('md') {
    font-size: rem(18);
    text-align: center;
  }
}

.not-found__top-link-wrap {
  margin-top: rem(60);
  padding-bottom: rem(46);
  display: flex;
  justify-content: center;

  @include mq('md') {
    padding-bottom: rem(55);
    margin-top: rem(80);
  }
}