@use "../global" as *;

.top-news {
padding-top: rem(29);
overflow-x: clip;
position: relative;
@include mq('md') {
padding-block: rem(88) rem(60);
}
}

.top-news__inner {
margin-inline: auto;
max-width: 500px;
padding-inline: var(--padding-inline);
@include mq('md') {
max-width: calc(rem(980) + var(--padding-inline) * 2);
}
}

.top-news__list {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(48);
  }
}

.top-news__empty {
  margin-top: rem(24);
  padding-bottom: rem(24);
  text-align: center;
  @include mq("md") {
    margin-top: rem(48);
    padding-bottom: rem(18);
  }
}

.top-news__btn {
margin-top: rem(24);
text-align: center;
@include mq('md') {
margin-top: rem(48);
}
}
