@use "../global" as *;

.top-news {
padding-top: rem(29);
overflow-x: clip;
position: relative;
@include mq('md') {
padding-block: rem(88) rem(60);
}
}

.top-news__inner {
margin-inline: auto;
max-width: 500px;
padding-inline: var(--padding-inline);
@include mq('md') {
max-width: calc(rem(980) + var(--padding-inline) * 2);
}
}

.top-news__list {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(48);
  }
}

.top-news__empty {
  margin-top: rem(24);
  padding-bottom: rem(24);
  text-align: center;
  @include mq("md") {
    margin-top: rem(48);
    padding-bottom: rem(18);
  }
}

.top-news__btn {
margin-top: rem(24);
text-align: center;
@include mq('md') {
margin-top: rem(48);
}
}

.top-news__btn-link {
  display: inline-flex;
  align-items: center;
  gap: rem(10);
  color: var(--main-pink02);
  font-size: rem(16);
  font-weight: var(--font-weight-regular);
  letter-spacing: calc(0.5 / 16 * 1em);
  padding: rem(11.5) rem(33) rem(12.5) rem(34);
  border-radius: 10px;
border: 2px solid var(--main-pink02);
transition: background-color var(--duration-hover) ease, color var(--duration-hover) ease;
@include mq('md') {
  letter-spacing: calc(0.8 / 16 * 1em);
  padding: rem(16) rem(24.5) rem(16) rem(34);
  gap: rem(20);
}
@media (any-hover: hover) {
&:hover {
  background-color: var(--main-pink02);
  color: var(--white);
  &::after {
    border-top: 3px solid var(--white);
    border-right: 3px solid var(--white);
  }
}
}
&::after {
  content: "";
  display: inline-block;
  width: rem(14);
  aspect-ratio: 1 / 1;
  border-top: 3px solid var(--main-pink02);
  border-right: 3px solid var(--main-pink02);
  rotate: 45deg;
  margin-top: rem(2);
  transition: border-color var(--duration-hover) ease;
  @include mq('md') {
  width: rem(15);
  }
}
}