.editor-styles-wrapper h2 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 400;
}

.editor-styles-wrapper h3 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
}

.editor-styles-wrapper h4 {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
}

.editor-styles-wrapper h5 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
}

.editor-styles-wrapper p {
  font-size: 15px;
  font-weight: 400;
  line-height: 2.33333;
  margin-top: 15px;
}

.editor-styles-wrapper a {
  font-size: 15px;
  font-weight: 400;
  color: #0000ee;
  text-decoration: underline currentColor;
  transition: opacity .3s ease-in-out;
}

.editor-styles-wrapper ul {
  padding-left: 21px;
}

.editor-styles-wrapper ul li {
  font-size: 15px;
  font-weight: 400;
}

.editor-styles-wrapper ol {
  padding-left: 21px;
}

.editor-styles-wrapper ol li {
  font-size: 15px;
  font-weight: 400;
}

