@use "sass:map";

// どっちファーストの設定（"sp" or "pc"）
$startFrom: sp;

// デフォルト値を設定
$mediaquerys: (
  sm: "screen",
  md: "screen",
  lg: "screen",
  xl: "screen",
);

@if $startFrom == sp {
  //スマホファースト
  $breakpoints: (
    sm: 600,
    md: 768,
    lg: 1024,
    xl: 1440,
  );

  //メディアクエリー（screen and なしで統一）
  $mediaquerys: (
    sm: "(min-width: #{map.get($breakpoints, 'sm')}px)",
    md: "(min-width: #{map.get($breakpoints, 'md')}px)",
    lg: "(min-width: #{map.get($breakpoints, 'lg')}px)",
    xl: "(min-width: #{map.get($breakpoints, 'xl')}px)",
  );

} @else {
  $breakpoints: (
    xl: 1440,
    lg: 1023,
    md: 767,
    sm: 600,
  );
  $mediaquerys: (
    sm: "(max-width: #{map.get($breakpoints, 'sm')}px)",
    md: "(max-width: #{map.get($breakpoints, 'md')}px)",
    lg: "(max-width: #{map.get($breakpoints, 'lg')}px)",
    xl: "(min-width: #{map.get($breakpoints, 'xl')}px)",
  );


}

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map.get($mediaquerys, $mediaquery)} {
    @content;
  }
}


@if $startFrom == sp {
  //pcで表示
  .u-desktop {
    display: none;
    @include mq("md") {
      display: block;
    }
  }

  //モバイルのみ表示
  .u-mobile {
    @include mq("md") {
      display: none;
    }
  }
} @else {
  //pcで表示
  .u-desktop {
    display: block;
    @include mq("md") {
      display: none;
    }
  }

  //モバイルのみ表示
  .u-mobile {
    display: none;
    @include mq("md") {
      display: block;
    }
  }
}