@use "../global" as *;
.footer {
  background: var(--bg-pink02);
  border-radius: 30px 30px 0 0;
  padding-block: rem(26) rem(45);
  position: relative;
  container-type: inline-size;
  @include mq("md") {
    border-radius: 50px 50px 0 0;
    padding-block: rem(57) rem(48);
  }
}

.footer__bg-sakura01 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: rem(173);
  @include mq('md') {
    width: clamp(150px, calc((#{"420 * 100"} / var(--cq-ref) * 1cqw)), 420px);
  }
  & img {
    aspect-ratio: 173 / 48;
    @include mq('md') {
    aspect-ratio: 410 / 113;
    }
}
}

.footer__bg-sakura02 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: rem(117);
  @include mq('md') {
  width: clamp(100px, calc((#{"238 * 100"} / var(--cq-ref) * 1cqw)), 238px);
  right: rem(71);
  }
  & img {
    aspect-ratio: 117 / 100;
    @include mq('md') {
    aspect-ratio: 239 / 186;
  }
}
}
.footer__bg-sakura-img {
  height: auto;
  object-fit: contain;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);
  @include mq("md") {
    gap: rem(39);
  }
}

.footer__logo-link {
  display: block;
  width: rem(193);
  height: auto;
  object-fit: contain;
  transition: opacity var(--duration-ui) ease;
  @include mq("md") {
    width: rem(284);
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.footer__logo-img {
  height: auto;
  object-fit: contain;

}

.footer__copyright {
  font-size: rem(13);
  line-height: 1.33;
  font-weight: var(--font-weight-regular);
  text-align: center;
  color: var(--white);
  @include mq("md") {
    font-weight: var(--font-weight-medium);
    line-height: 1.36;
  }
}
